* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
 
}
#logo {
  margin-left: 4%;
  width: 90%;
}
header {
  background-color: #f8f9fa;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.548);
  flex : block;
  
}
#parrafo{
  text-align: center;
  color: #660e0e;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 25px;
  margin-bottom: 45px;
}
.social-part .fa{
  padding-right:20px;
}
ul li a{
  margin-right: 20px;
  color: #990000;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 10px
}
.carousel-inner img {
  width: 66%;
  max-height: 550px;
}
.carousel-inner{
  height: 550px;
  border-left-style: solid;
  border-left-width: 165px;
  border-right-width: 165px;
  border-right-style: solid;
  color: #ffffff;
}

.ir-arriba {
	display: inline-block;
	padding:15px;
	background:#660e0ec2;
	font-size:20px;
	color:rgb(255, 255, 255);
	cursor:pointer;
	position: fixed;
	bottom:20px;
  right:20px;
  border-radius: 16px;
  
}
.boton{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #890000;
  border-radius: 6px;
  border: 2px solid #99771a;
 
}
.boton:hover {
  opacity: 0.7;
}
#botones{
  margin-top: 30px;
  padding-left: 60px;
}
.pdf{
 
  text-align :center;
  color: #990000;
}

#tablas{
  margin-left: 10%;
  width: 70%;
}

div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 150px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
#galeria{
  margin-left: 15%;
  width: 80%;
}

div.gallery2{

  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 150px;
}
div.gallery2 img {
  width: 100%;
  height: auto;
}

div.desc2 {
  padding: 15px;
  text-align: center;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}